<div>
  <mat-grid-list cols="12" rowHeight="1:6">
    <mat-grid-tile colspan='8'>
      <mat-card style="height: 60%;width: 80%" class="centered">

        <mat-grid-list cols="8" rowHeight="1.2:1">
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;">
            <div class="text-inside-grid">Package</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;" class="text-inside-grid">
            Billing Cycle
          </mat-grid-tile>
          <mat-grid-tile colspan='4'>

            <mat-button-toggle-group name="fontStyle" (change)="calculateTotal()" [(ngModel)]="package_" #group="matButtonToggleGroup"
                                     aria-label="Font Style">
              <mat-button-toggle value="Free">Free</mat-button-toggle>
              <mat-button-toggle value="Starter">Starter</mat-button-toggle>
              <mat-button-toggle value="Premium">Premium</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-grid-tile>


          <mat-grid-tile colspan='4'>

            <mat-button-toggle-group (change)="calculateTotal()" name="fontStyle" [(ngModel)]="cycle" #group1="matButtonToggleGroup"
                                     aria-label="Font Style">
              <mat-button-toggle value="Monthly">Monthly</mat-button-toggle>
              <mat-button-toggle value="Annual">Annual</mat-button-toggle>
            </mat-button-toggle-group>
          </mat-grid-tile>
          <br>
          <br>
          <br>
          <br>
        </mat-grid-list>

        <mat-form-field>
          <input matInput style="font-size: smaller" placeholder="Number of users" type="number" name="users" (input)="calculateTotal()" (change)="calculateTotal()" [(ngModel)]="nusers">
        </mat-form-field>

        <br>
        <div *ngIf="cost>=0" style="font-size: smaller">
          @{{cost}}TL per month for each user
        </div>
        <br>
        <br>
        <br>
        <br>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan='4'>
      <mat-card style="height: 60%; width: 80%" class="centered">
        <mat-grid-list cols="8" rowHeight="0.8:1">
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;">
            <div style="font-weight: normal" class="text-inside-grid">Package</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;right: 0px">
            <div class="text-inside-grid" style="padding-left: 50%">{{package_}}</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;">
            <div style="font-weight: normal" class="text-inside-grid">Plan</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;right: 0px">
            <div class="text-inside-grid" style="padding-left: 50%">{{cycle}}</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;">
            <div style="font-weight: normal" class="text-inside-grid">Number of Users</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;right: 0px">
            <div class="text-inside-grid" style="padding-left: 50%">{{nusers}}</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;">
            <div style="font-weight: normal" class="text-inside-grid">Discount</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;right: 0px">
            <div class="text-inside-grid" style="padding-left: 50%">{{discount}}</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;">
            <div class="text-inside-grid">Grand Total</div>
          </mat-grid-tile>
          <mat-grid-tile colspan='4' style="top: 40px;position:absolute;right: 0px">
            <div class="text-inside-grid" style="padding-left: 50%">{{total}} <span *ngIf="verdict">TL per {{verdict}}</span></div>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
